#app2{
}
#app2 .tab-bar{
    display: flex;
}
#app2 .tab-bar > li{
    border: 1px solid red;
    flex-direction: row;
    width: 50%;
}
#app2 .tab-bar > li.selected{
    background: grey;
    color: white;
}
#app2 .tab-content{
    
}
#app2 .tab-content > li{
    display: none;
}
#app2 .tab-content > li.active{
    display: block;
}