#app3{

}
#app3 .square{
    border: 1px solid red;
    width: 10vw;
    height: 20vh; 
    margin-top: 5vw;
    margin-left: 15vw;
    transition: transform 1s;
}
#app3 .square.active{
    transform: translateX(10vw);
}
