#app4{

}
#app4 .circle{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1px solid red;
    margin-top: 5vw;
    margin-left: 15vw;
}
#app4 .circle.active{
    animation: change 2s infinite alternate linear;
}
@keyframes change{
    0%{
        background: red;
    }
    100%{
        background: blue;
    }
}